FrontEnd/Desktop/BookingTourManager/node_modules
FrontEnd/Desktop/BookingTourManager2/node_modules
FrontEnd/Desktop/BookingTourManager/dist
FrontEnd/Desktop/BookingTourManager/out

FrontEnd/Mobile/TourApp/node_modules
FrontEnd/Mobile/TourApp/.expo

FrontEnd/Web/TourProject/node_modules